*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: snow;
}

.tela-login{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
.tela-login a{
    text-decoration: none;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 94%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background-color: deepskyblue;
}

.usuario, .senha{
    text-transform: uppercase;
    padding: 0;
    font-size: 13px;
    margin-bottom: 2px;
}
h4{
    font-size: 15px;
}

